$black: #000 !default;
$white: #fff !default;
$grey-light: #d8d8d899 !default;
$grey: #343a40 !default;
$grey-dark: #161a1d !default;
$red: #f60404 !default;
$red-dark: #930202 !default;
$blue: #0000ff !default;
$blue-dark: #000080 !default;
$green-light: #71b76a !default;
$green: #138808 !default;
$green-dark: #0b5104 !default;
