header#main-header{
    background:#fff;
    height: 72px;
    border-bottom: 1px solid #DDD;
}

header#main-header .main-content{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 72px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#main-header .main-content h1{
    font-weight: 100;
    font-size: 25px;    
}
header#main-header .main-content h1 a{
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
    color:#444;
    text-transform: uppercase;    
}

header#main-header .main-content h1 img{
    width:7%;
    position: relative;
    float:left;
}