.order-list {
    .order-list-item {
        background: none;
        border: 1px solid #dbdbdb;
        padding: 0px;

        &-image {
            div {
                width: 48px;
                height: 48px;
                background-size: cover;
                margin-right: -15px;
            }

            img {
                margin-right: -15px;
                width: 48px;
                height: 48px;
            }
        }
        &-info{
            padding: 3px 5px;
        }
    }
}