.float-button-container {
  position: fixed;
  bottom: 0px;
  right: 1rem;

  button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 0px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.36), 2px 2px 1px 1px rgba(0, 0, 0, 0.16);
  }
  li {
    list-style-type: none;
  }
}
